<!DOCTYPE html>
<html>
<head>
	<title>Signup</title>
</head>
<body>
	<h2>Signup</h2>
	<table>
		<tbody>
			<tr>
				<td class="label">Username</td>
				<td>
					<input type="text" name="username" value>
				</td>
				<td class="error"></td>
			</tr>

			<tr>
				<td class="label">Password</td>
				<td>
					<input type="password" name="password" value>
				</td>
				<td class="error"></td>
			</tr>

			<tr>
				<td class="label">Verify Password</td>
				<td>
					<input type="password" name="verify" value>
				</td>
				<td class="error"></td>
			</tr>

			<tr>
				<td class="label">Email(optional)</td>
				<td>
					<input type="text" name="email" value>
				</td>
				<td class="error"></td>
			</tr>

		</tbody>
	</table>
	<input type="submit">

</body>
</html>