<!DOCTYPE html>
<html>
<head>
	<title>Signup</title>
</head>
<body>
	<h2>Signup</h2>
	<form method="post">
		<table>
			<tbody>
				<tr>
					<td class="label">Username</td>
					<td>
						<input type="text" name="username" value={{username}}>
					</td>
					<td class="error" style="color: red">{{nameError}}</td>
				</tr>

				<tr>
					<td class="label">Password</td>
					<td>
						<input type="password" name="password" value>
					</td>
					<td class="error" style="color: red">{{passError}}</td>
				</tr>

				<tr>
					<td class="label">Verify Password</td>
					<td>
						<input type="password" name="verify" value>
					</td>
					<td class="error" style="color: red">{{verifyError}}</td>
				</tr>

				<tr>
					<td class="label">Email(optional)</td>
					<td>
						<input type="text" name="email" value={{email}}>
					</td>
					<td class="error" style="color: red">{{emailError}}</td>
				</tr>

			</tbody>
		</table>
		<input type="submit">
	</form>
</body>
</html>