<!DOCTYPE html>
<html>
<head>
	<title>New Post</title>
	<style type="text/css">
		body {
			font-family: sans-serif;
			width: 800px;
			margin: 0 auto;
			padding: 10px;
		}

		h1{
			text-align: center;
		}

		form {
			text-align: center;
		}

		.error {
			color: red;
		}

		label {
			display: block;
			font-size: 20px;
		}

		input[type=text] {
			width: 400px;
			font-size: 20px;
			padding: 2px;
		}

		textarea {
			width: 400px;
			height: 200px;
			font-size: 17px;
			font-family: monospace;
		}

		input[type=submit] {
			font-size: 24px;
		}
	</style>

</head>
<body>
	<h1>New Post</h1>

	<form method="post">
		<label>
			<div>Subject</div>
			<input type="text" name="subject" value="{{subject}}">
		</label>
		<br>
		<label>
			<div>Blog</div>
			<textarea name="content">{{content}}</textarea>
		</label>

		<div class="error">{{error}}</div>
		<input type="submit">
	</form>

</body>
</html>